---

- name: Extend the logical volume to take all remaining space of the PVs and resize the underlying filesystem
  community.general.lvol:
    vg: "{{ resize_lvol_vg }}"
    lv: "{{ resize_lvol_lv }}"
    size: "{{ resize_lvol_size }}"
    resizefs: true
  when:
    - resize_lvol_vg in ansible_facts.lvm['vgs']|default([],true)
    - resize_lvol_lv in ansible_facts.lvm['lvs']|default([],true)
  become: true
  become_user: root
